@charset "UTF-8";


/*
Paleta de cores
_Verde #49a09d
_lilás #5f2c82 
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    /* CONFIGURAÇÃO PARA TABLET */

    html, body {
        background-image: linear-gradient(var(--azul), var(--cinza-medio));
    }
    
    #login {
        width: 80vw;
        height: 300px;
    }

    #login #imagem {
        width: 30%;
        height: 100%;
        float: left;
        border-radius: 20px 0px 0px 20px;
    }

    #login #formulario {
        width: 70%;
        float: right;
    }

    #formulario p {
        font-size: 1em;
        margin: 15px 2px;
    }
}

@media screen and (min-width: 992px) {
    /* CONFIGURAÇÃO PARA TELAS GRANDES */
    html, body {
        background-image: linear-gradient(var(--azul), var(--cinza-medio));
    }

    #login {
        width: 920px;
        height: 340px;
    }

    #login #imagem {
        border-radius: 20px 0px 0px 20px;
        float: right;
        width: 50%;
        height: 100%;
    }

    #login #formulario {
        float: left;
        width: 50%;
    }

    #formulario h1 {
        font-size: 2em;
    }
    
    #formulario p {
        font-size: 1em;
        margin: 20px 5px;
    }
    
}